/* ROULETTE */

#wheel{
width:200px;
height:200px;
border-radius:50%;
margin:20px auto;
background:conic-gradient(red 0 50%,black 50% 100%);
transition:transform 3s ease-out;
}

.grid{
display:grid;
grid-template-columns:repeat(12,45px);
gap:4px;
justify-content:center;
}

.cell{
padding:10px;
font-size:12px;
cursor:pointer;
border-radius:4px;
}

.red{background:#a00;}
.black{background:#111;border:1px solid #555;}
.green{background:green;}

.cell:hover{
outline:2px solid gold;
}
/* CHIPS */
#chips{
display:flex;
justify-content:center;
gap:10px;
margin:10px;
}

.chip{
width:50px;
height:50px;
border-radius:50%;
background:gold;
color:black;
display:flex;
align-items:center;
justify-content:center;
cursor:grab;
font-weight:bold;
}

.chip:active{
cursor:grabbing;
}

/* CHIP NA STOLE */
.chip-on{
width:30px;
height:30px;
border-radius:50%;
background:red;
color:white;
font-size:12px;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-top:2px;
}
